#text-align{
    display:flex;
    justify-content: center;
    align-items: center;
}
#text-align button{
    margin-top: 10px;
    margin-left: 150px;
}
.images_size img{
    width: 100px;
}
footer p{
    color: gray;
}
footer i{
    margin-right: 10px;
}
