
#text-align {
    display: flex;
    justify-content: center;
    align-items: center;
}

#text-align button {
    margin-top: 10px;
    margin-left: 150px;
}

#carouselExampleControls .carousel-item .img_sizing {
    height:600px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items:flex-start;
}

.carousel-item img {
    height:750px;
}

footer p {
    color: gray;
}

footer i {
    margin-right: 10px;
}